---
layout: default
---
<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<div class="post-content">
  {{ content }}
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="giscus">
  <script src="https://giscus.app/client.js"
          data-repo="danski2017/danski2017.github.io"
          data-repo-id="R_kgDOME_9Sg"
          data-category="General"
          data-category-id="DIC_kwDOME_9Ss4Cf9Dk"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
